.todo-wrapper {
  width: 90%;
  height: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;

  overflow: hidden;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  height: 98%;
  width: 99%;
  border-radius: 15px;

  overflow: scroll;
  scroll-behavior: smooth;

  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1150px) {
  .todo {
    flex-direction: row;
    align-items: flex-start;
  }
}
